extends layout

block content
  h1= title
  div(class='welcome') 
    p Welcome to Vacuum World!
    p This is a simulated universe of floors and vacuums!
    p How exciting!!!
    p Click a link to a world in the above navbar!
