doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container')
      div(class='navigation-bar')
        ul
          li
            a(href='/') Home
          li
            a(href='/world/1') World 1
      div(class='content')
        block content
