body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

.div-sim {
  display: grid;
  grid-template-rows: repeat(var(--numRows), 7rem);
  grid-template-columns: repeat(var(--numCols), var(--colWidth));
  grid-gap: 0;
}

.sim-cell {
  grid-column-start: auto;
  grid-row-start: auto;
  margin: 5px;
  background-color:lightblue;
  height: 100%;
  width: 100%;
  margin: 1px;
  outline-color: black;
  outline-style: solid;
  text-align: center;
  position: relative;
}

.vacuum {
  margin-top: 0.5em;
  height: 40%;
  width: 4rem;
  background-color: darkgray;
  display: inline-grid;
  font-family: sans-serif;
  position: relative;
  top: 25%;
  
}

.dirty {
  bottom: 0px;
  height: 30%;
  width: 100%;
  background-color: brown;
  bottom: 0px;
  font-family: sans-serif;
  position: absolute;
}

.clean {
  bottom: 0px;
  height: 30%;
  width: 100%;
  background-color: sandybrown;
  bottom: 0px;
  font-family: sans-serif;
  position: absolute;
}